@import "button-register.css";

:root {
  --main: #151515;
}

.header {
  width: 100%;
  padding: 16px 0px;
  background: var(--main);
  min-height:  119px;
  padding: 4px;
  display: flex;
  border-bottom: 1px #404040;
  border-style: solid;
}

.header-text {
  font-size: 1rem/* 16px */;
  line-height: 1.5rem/* 24px */;
  font-weight: 400;
}

.logo {
  top: 6%;
  left: 50%
}

.logo:hover {
  cursor: pointer
}

.social-ico:hover {
  cursor: pointer
}

@media (min-width: 1536px) {
  .container-content {
    width: 1280px;
  }
}

@media (max-width: 1535px) {
  .container-content {
    width: 1040px;
  }
}
